<script>
$(document).ready(function () {
    var dept_dropdown = $("#department"),
    var subj_dropdown = $("#");

    dept_dropdown.state.on('change', function() {
        var dept_id = dept_dropdown.find('option:selected').text()
        edeptname

        // $.ajax({
        //     type: 'GET',
        //     url: "/getdept",
        //     data: {dept: dept_id},
        //     contentType : 'application/json',
        //     // success: function(response){
        //     //     //response.users
        //     //     //attach result
        //     // }
        // });
    });
})
</script>