<script>
    function show_db(){
        document.getElementById("divDB").style.display="block";
        document.getElementById("divSE").style.display="none";
        document.getElementById("divBL").style.display="none";
    }

    function show_se(){
        document.getElementById("divDB").style.display="none";
        document.getElementById("divSE").style.display="block";
        document.getElementById("divBL").style.display="none";
    }

    function show_bl(){
        document.getElementById("divDB").style.display="none";
        document.getElementById("divSE").style.display="none";
        document.getElementById("divBL").style.display="block";
    }
</script>