<nav class="main-nav-outer" id="test">
	<div class="container">
		<ul class="main-nav">
			<li><a href="#address">Address</a></li>
			<li><a href="#use">Library Use</a></li>
			<li><a href="#books">Books</a></li>
			<li class="small-logo"><a href="#header"><img src="static/img/kdulogo.png" alt=""></a></li>
			<li><a href="#journals">Journals</a></li>
			<li><a href="#opens">Open Source</a></li>
			{% if current_user.is_authenticated %}
			<li><a href="/viewbooks">Borrow</a></li>
			{% else %}
			<li><a href="#borrow">Borrow</a></li>
			{% endif %}
		</ul>
		<a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
	</div>
</nav>