<nav class="main-nav-outer" id="test">
	<div class="container">
		<ul class="main-nav">
			<li><a href="/admin#dept">Department</a></li>
			<li><a href="/admin#pub">Publishers</a></li>
			<li class="small-logo"><a href="/"><img src="../static/img/kdulogo.png" alt="Home"></a></li>
			<li><a href="/books">Books</a></li>
			<li><a href="/periodicals">Periodicals</a></li>
			<li><a href="#t">Transactions</a></li>
		</ul>
		<a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
	</div>
</nav>