<nav class="main-nav-outer" id="test">
	<div class="container">
		<ul class="main-nav">
			{% if current_user.admin %}
			<li><a href="/admin#dept">Department</a></li>
			<li><a href="/admin#pub">Publishers</a></li>
			<li><a href="/users">User</a></li>
			{% else %}
			<li><a href="/viewbooks">Books</a></li>
			<li><a href="/`">Transactions</a></li>
			{% endif %}
			<li class="small-logo"><a href="/"><img src="../static/img/kdulogo.png" alt="Home"></a></li>
			{% if not current_user.admin %}
			<li><a href="/viewperiodicals">Periodicals</a></li>
			<li><a href="/myreserves">Reservations</a></li>
			<li><a href="{{url_for('logout')}}">Log Out</a></li>
			{%else%}
			<li><a href="/books">Books</a></li>
			<li><a href="/periodicals">Periodicals</a></li>
			<li><a href="/transactions">Transactions</a></li>
			{% endif %}
			
		</ul>
		<a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
	</div>
</nav>