<script>
    function show_dept(){
    document.getElementById("dept").style.display="block";
    document.getElementById("subj").style.display="none";
    document.getElementById("pub").style.display="none";
    document.getElementById("author").style.display="none";
}

function show_subj(){
    document.getElementById("dept").style.display="none";
    document.getElementById("subj").style.display="block";
    document.getElementById("pub").style.display="none";
    document.getElementById("author").style.display="none";
}

function show_pub(){
    document.getElementById("dept").style.display="none";
    document.getElementById("subj").style.display="none";
    document.getElementById("pub").style.display="block";
    document.getElementById("author").style.display="none";
}

function show_author(){
    document.getElementById("dept").style.display="none";
    document.getElementById("subj").style.display="none";
    document.getElementById("pub").style.display="none";
    document.getElementById("author").style.display="block";
}
</script>