{% extends 'layout-admin.html' %}
{% block title %}
<title> ADMIN - KDU-I Library </title>
{% endblock %}

{% block body %}
<section class="main-section" id="dept">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 wow fadeInLeft delay-05s">
                <h2>Departments</h2>
                <h6>Add Department Information</h6>
                <div class="service-list">
                    <div class="service-list-col1">
                            <i class="fa fa-pen"></i>
                    </div>
                    <div class="service-list-col2">
                        <form action="/adddept" method="post" role="form" class="registerForm">
                            <div>
                                <datalist id="department">
                                    {% for dept in allDepts %}
                                    <option value="{{dept.dept_name}}"></option>
                                    {% endfor %}
                                </datalist>
                                <input type="text" list="department" class="form-control input-text" name="deptname" id="deptname" placeholder="Department" data-rule="minlen:4" data-msg="Please enter at least 4 chars"
                                    required>
                                <div class="validation"></div>
                            </div>
                            <div class="text-center"><button type="submit" class="input-btn">Add</button></div>
                        </form>
                    </div>
                </div>
                <a href="/details" class="pull-right">View All</a>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-5 col-offset-2 col-sm-offset-2 col-md-5 wow fadeInLeft">
                <h2>Subjects</h2>
                <h6>Add Subject Information</h6>
                <div class="featured-box">
                    <div class="featured-box-col1 wow fadeInRight delay-02s">
                        <i class="fa fa-pen"></i>
                    </div>
                    <div class="featured-box-col2 wow fadeInRight delay-02s">
                        <form action="/addsubj" method="post" role="form" class="registerForm">
                            <div>
                                <datalist id="subject">
                                    {% for subj in allSubj %}
                                    <option value="{{subj.subject_name}}"></option>
                                    {% endfor %}
                                </datalist>
                                <input type="text" list="subject" class="form-control input-text" name="subjname" id="subjname" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 4 chars"
                                    required>
                                    <div class="validation"></div>
                            </div>
                            <div class="text-center"><button type="submit" class="input-btn">Add</button></div>
                        </form>
                    </div>
                </div>
                <a href="/details" class="pull-right">View All</a>
            </div>
        </div>
    </div>
</section>

<section class="main-section" id="pub">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 wow fadeInLeft delay-05s">
                <h2>Publishers</h2>
                <h6>Add Publishing House Information</h6>
                <div class="service-list">
                    <div class="service-list-col1">
                            <i class="fa fa-pen"></i>
                    </div>
                    <div class="service-list-col2">
                        <form action="/addpub" method="post" role="form" class="registerForm">
                            <div>
                                <datalist id="publisher">
                                    {% for pub in allPubs %}
                                    <option value="{{pub.pub_name}}"></option>
                                    {% endfor %}
                                </datalist>
                                <input type="text" list="publisher" class="form-control input-text" name="pubname" id="pubname" placeholder="Publisher" data-rule="minlen:4" data-msg="Please enter at least 4 chars" required>
                            </div>
                            <div class="form-group">
                                <input type="text" name="pubadd" class="form-control input-text" id="pubadd" placeholder="Publisher Address" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="text-center"><button type="submit" class="input-btn">Add</button></div>
                        </form>
                    </div>
                </div>
                <a href="/details" class="pull-right">View All</a>
            </div>            
            <div class="col-lg-offset-2 col-lg-5 col-md-offset-2 col-sm-5 col-sm-offset-2 col-md-5 wow fadeInLeft">
                <h2>Authors</h2>
                <h6>Add Author Information</h6>
                <div class="featured-box">
                    <div class="featured-box-col1 wow fadeInUp delay-02s">
                        <i class="fa fa-pen"></i>
                    </div>
                    <div class="featured-box-col2 wow fadeInRight delay-02s">
                        <form action="/addauthor" method="post" role="form" class="registerForm">
                            <div>
                                <datalist id="author">
                                    {% for auth in allAuthors %}
                                    <option value="{{auth.author_name}}"></option>
                                    {% endfor %}
                                </datalist>
                                <input type="text" list="author" class="form-control input-text" name="authorname" id="authorname" placeholder="Author Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars"
                                    required>
                                    <div class="validation"></div>
                            </div>
                            <div class="text-center"><button type="submit" class="input-btn">Add</button></div>
                        </form>
                    </div>
                </div>
                <a href="/details" class="pull-right">View All</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}