{% extends 'layout.html' %}
{% block title %}
<title> Welcome - KDU-I Library </title>
{% endblock %} 

{% block body %}
<section class="main-section" id="address">
		<!--main-section-start-->
		<div class="container">
			<h2>Welcome Address</h2>
			<h6>You're Welcome To The University Library.</h6>
			<div class="row">
				<div class="col-lg-5 col-sm-6 wow fadeInLeft delay-05s">
					<div>
						<div class="service-list">
							<div class="service-list-col1">
								<i class="fa fa-microphone"></i>
							</div>
							<div class="service-list-col2">
								<div>
									<h2 class="pull-left">Mission</h2>
									<br><br><br>
									<p>To become a world-class and reference Resource Centre that will enhance teaching, learning and research that will promote raising a new generation of scholars.</p>
								</div>
							</div>
						</div>
						
					</div>
					
					<div>
						<div class="service-list">
							<div class="service-list-col1">
								<i class="fa fa-microphone"></i>
							</div>
							<div class="service-list-col2">
								<h2 class="pull-left">Vision</h2>
								<br><br><br>
								<p>To build, conserve and preserve diverse information resources to support teaching, learning and research. Also, to provide life-long learning skills to our users.</p>
								<p>The Library's aim is to provide good, aesthetic, user-friendly learning environment for all academic and research activities in the university.</p>
							</div>
						</div>
						
					</div>
				</div>
				<div class="col-lg-offset-1 col-lg-5 col-sm-6 wow fadeInUp delay-02s">
					<div class="service-list">
						<div>
						<div class="service-list-col1">
							<i class="fa fa-bullseye"></i>
						</div>
						<div class="service-list-col2">
							<h2 class="pull-left">Library Goals</h2>
							<br><br><br>
							<!-- <ul> -->
								<p>To provide knowledge for all services of humanity</p>
								<br>
								<p>To meet the best global practices in librarianship</p>
								<br>
								<p>To promote advancement of learning and quality teaching</p>
								<br>
								<p>To institutionalize quality research</p>
								<br>
								<p>To provide good automation of library materials</p>
								<br>
								<p>To foster good partnership with other libraries</p>
								<br>
								<p>To provide instructional materials and other facilities for the pursuit of learning in all the programmes offerred in the University</p>
							<!-- </ul> -->
						</div>
						</div>
					</div>
				</div>

			</div>
		</div>
</section>
<!--main-section-end-->
<section class="main-section alabaster" id="use">
		<!--main-section alabaster-start-->
		<div class="container">
			<div class="row">
				<h2>Library Use</h2>
				<p class="padding-b" style="text-align: center;">The following are, but not limited to, the rules to use the University Library. All Library users (Staff and Students) are to adhere to these rules.</p>
				<p>More Library Rules</p>
				<h4><br></h4>
				<div class="col-lg-6 col-sm-6 wow fadeInLeft">
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-02s">
							<i class="fa fa-pencil"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-02s">
							<h3>REGISTRATION</h3>
							<p>Registration should be done to become a Library member prior to using the Library resources.</p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-02s">
							<i class="fa fa-id-badge"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-02s">
							<h3>LIBRARY CARD</h3>
							<p>Always come with your Library Card. Members must show their Library cards on entering the Library, when borrowing books, and at other times if asked to do so by the Porter, Security personnel or any member of the senior staff of the University Library.</p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-04s">
							<i class="fa fa-volume-off"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-04s">
							<h3>COMPLETE SILENCE</h3>
							<p>Complete silence should be observed except for brief and subdued talk with the Library staff. No discussion is permitted inside the Library. Noise distracts other users.</p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-06s">
							<i class="fa fa-microphone-slash"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-06s">
								<h3>NO AUDIO DEVICES</h3>
							<p>Electronic devices should be turned off. The use of Mobile phones or other audio instruments is strictly prohibited in the Library premises unless it is put in vibration or silent mode.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-sm-6 featured-work">
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-02s">
							<i class="fas fa-smoking-ban"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-02s">
							<h3>NO SMOKING</h3>
							<p> No smoking in or around the Library. The use of any form of candles, matches, hurricane lanterns and chemicals is prohibited in the Library.</p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-02s">
							<i class="fas fa-book-reader"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-02s">
							<h3>BORROWER'S CARD</h3>
							<p>Library borrower cards are not transferable. The borrower is responsible for the books borrowed on his/her card.<br><br><br></p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-04s">
							<i class="fas fa-book-open"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-04s">
							<h3>BORROWED BOOKS</h3>
							<p>All books borrowed from the University Library should be returned before the reader goes on vacation.<br><br></p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-06s">
							<i class="fa fa-pencil"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-06s">
							<h3>LOG IN</h3>
							<p>Log In is required to keep track of users and resources</p>
						</div>
					</div>
				</div>
				<div class="pull-right">
					<a class="" href="/library-rules">More Library Rules --&gt;</a>
				</div>
			</div>
		</div>
</section>
<section class="main-section paddind" id="books">
	<!--main-section-start-->
	<div class="container">
		<h2>Library Books</h2>
		<h6>Recently Favourited Books.</h6>
		<div class="portfolioFilter">
			<ul class="Portfolio-nav wow fadeIn delay-02s">
				<li><a href="#" data-filter="*" class="current">All</a></li>
				<li><a href="#" data-filter=".branding">Science</a></li>
				<li><a href="#" data-filter=".webdesign">Literature</a></li>
				<li><a href="#" data-filter=".printdesign">Engineering</a></li>
				<li><a href="#" data-filter=".photography">Publishing</a></li>
			</ul>
		</div>
	</div>
	<div class="portfolioContainer wow fadeInUp delay-04s">
		<div class=" Portfolio-box photography">
			<a href="static/img/book-pic1.png"><img src="static/img/book-pic1.png" alt=""></a>
			<h3>F.A. Adesanoye et al.</h3>
			<p>Publishing</p>
		</div>
		<div class="Portfolio-box branding">
			<a href="static/img/book-pic2.png"><img src="static/img/book-pic2.png" alt=""></a>
			<h3>Timberlake Series</h3>
			<p>Chemistry</p>
		</div>
		<div class=" Portfolio-box branding printdesign">
			<a href="static/img/book-pic3.png"><img src="static/img/book-pic3.png" alt=""></a>
			<h3>S.A Savanandam et al</h3>
			<p>Computing</p>
		</div>
		<div class=" Portfolio-box branding printdesign">
			<a href="static/img/book-pic4.png"><img src="static/img/book-pic4.png" alt=""></a>
			<h3>K.A. Stroud</h3>
			<p>Mathematics</p>
		</div>
		<div class=" Portfolio-box webdesign">
			<a href="static/img/book-pic5.png"><img src="static/img/book-pic5.png" alt=""></a>
			<h3>Chinua Achebe</h3>
			<p>Literature</p>
		</div>
		<div class=" Portfolio-box webdesign">
			<a href="static/img/book-pic6.png"><img src="static/img/book-pic6.png" alt=""></a>
			<h3>Camara Laye</h3>
			<p>Literature</p>
		</div>
	</div>
</section>
<section class="main-section client-part" id="journals">
<div class="container">
	<b class="quote-right wow fadeInDown delay-03"><i class="fa fa-quote-right"></i></b>
	<div class="col-lg-12">
		<p class="client-part-haead wow fadeInDown delay-05">Available Journals in Sciences, Engineering, Arts and Languages!</p>
	</div>
	<div class="row journal">
		<ul>
			<li><a href="#"><img src="static/img/journal2.png" alt=""></a></li>
			<li><a href="#"><img src="static/img/journal2.png" alt=""></a></li>
			<li><a href="#"><img src="static/img/journal2.png" alt=""></a></li>
			<li><a href="#"><img src="static/img/journal2.png" alt=""></a></li>
			<li><a href="#"><img src="static/img/journal2.png" alt=""></a></li>
		</ul>
	</div>
</div>
</section>
<section class="main-section team" id="opens">
	<!--main-section team-start-->
	<div class="container">
		<h2>Open Source</h2>
		<h6>University Library's Open Source Links</h6> 
		<div class="open-source">
			<div class="row">
				<ul>
					<li><a href="#"><img src="static/img/c-liogo1.png" alt=""></a></li>
					<li><a href="#"><img src="static/img/c-liogo2.png" alt=""></a></li>
					<li><a href="#"><img src="static/img/c-liogo3.png" alt=""></a></li>
					<li><a href="#"><img src="static/img/c-liogo4.png" alt=""></a></li>
					<li><a href="#"><img src="static/img/c-liogo5.png" alt=""></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<div class="container">
	<section class="main-section contact" id="borrow">
		<div class="row">
			<div class="col-lg-6 col-sm-7 wow fadeInLeft">
				<h3>You Want More Information? Register To Use The Library.</h3>
				<div class="contact-info-box address clearfix">
					<h3><i class=" icon-map-marker"></i>Address:</h3>
					<span>The University Library Building,<br> KDU-I</span>
				</div>
				<div class="contact-info-box phone clearfix">
					<h3><i class="fa fa-phone"></i>Phone:</h3>
					<span>+234(0)81-UNI-LIBRARY</span>
				</div>
				<div class="contact-info-box email clearfix">
					<h3><i class="fa fa-pencil"></i>email:</h3>
					<span>library@kduilibrary.edu.ng</span>
				</div>
				<div class="contact-info-box hours clearfix">
					<h3><i class="fa fa-clock-o"></i>Hours:</h3>
					<span><strong>Monday - Friday:</strong> 09:00 am - 4:30 pm</span>
				</div>
			</div>
			<div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
				<div class="form">
					<div class="row text-center"><h3>Already Registered? <a href="/login">Log In</a></h3></div>
					<div id="sendmessage">Your message has been sent. Thank you!</div>
					<div id="errormessage"></div>
					<form action="/register" method="post" role="form" class="registerForm">
						<div class="form-group">
							<input type="text" name="name" class="form-control input-text" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
							<div class="validation"></div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control input-text" name="userid" id="userid" placeholder="Matric Number/Staff Id" data-rule="minlen:6" data-msg="Please enter at least 6 characters" />
							<div class="validation"></div>
						</div>
						<div class="form-group">
							<input type="text" class="form-control input-text" name="phone" id="phone" placeholder="Your Phone Number" data-rule="minlen:11" data-msg="Please enter a valid Phone Number" />
							<div class="validation"></div>
						</div>
						<div class="form-group">
							<input type="email" class="form-control input-text" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
							<div class="validation"></div>
						</div>
						<div>
							<datalist id="department">
								{% for dept in allDepts %}
								<option value="{{dept.dept_name}}">{{dept.dept_name}}</option>
								{% endfor %}
							</datalist>
							<input type="text" list="department" class="form-control input-text" name="ldepartment" id="ldepartment" placeholder="Department"
								required>
						</div>
						<div class="text-center"><button type="submit" class="input-btn">Register</button></div>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}