<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, maximum-scale=1">

	<title>Welcome - KDU-I Library</title>
	<link rel="icon" href="static/img/favicon.png" type="image/png">
	<link rel="shortcut icon" href="static/img/favicon.ico" type="img/x-icon">

	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600' rel='stylesheet' type='text/css'>

	<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="static/css/style.css" rel="stylesheet" type="text/css">
	<link href="static/css/font-awesome.css" rel="stylesheet" type="text/css">
	<link href="static/css/responsive.css" rel="stylesheet" type="text/css">
	<link href="static/css/magnific-popup.css" rel="stylesheet" type="text/css">
	<link href="static/css/animate.css" rel="stylesheet" type="text/css">

	<script type="text/javascript" src="static/js/jquery.1.8.3.min.js"></script>
	<script type="text/javascript" src="static/js/bootstrap.js"></script>
	<script type="text/javascript" src="static/js/jquery-scrolltofixed.js"></script>
	<script type="text/javascript" src="static/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="static/js/jquery.isotope.js"></script>
	<script type="text/javascript" src="static/js/wow.js"></script>
	<script type="text/javascript" src="static/js/classie.js"></script>
	<script type="text/javascript" src="static/js/magnific-popup.js"></script>
	<script src="static/contactform/contactform.js"></script>
</head>

<body>
	<header class="header" id="header">
		<!--header-start-->
		<div class="container">
			<figure class="logo animated fadeInDown delay-07s">
				<a href="#"><img src="static/img/kdulogo1.png" alt=""></a>
			</figure>
			<h1 class="animated fadeInDown delay-07s">Welcome To The University Library</h1>
			<ul class="we-create animated fadeInUp delay-1s">
				<li>Read, Borrow Books And Journals.</li>
			</ul>
			<a class="link animated fadeInUp delay-1s servicelink" href="#address">Get Started</a>
		</div>
	</header>
	<!--header-end-->

	<nav class="main-nav-outer" id="test">
		<!--main-nav-start-->
		<div class="container">
			<ul class="main-nav">
				<li><a href="#address">Address</a></li>
				<li><a href="#use">Library Use</a></li>
				<li><a href="#books">Books</a></li>
				<li class="small-logo"><a href="#header"><img src="static/img/kdulogo.png" alt=""></a></li>
				<li><a href="#journals">Journals</a></li>
				<li><a href="#opens">Open Source</a></li>
				<li><a href="#borrow">Borrow</a></li>
			</ul>
			<a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
		</div>
	</nav>
	<!--main-nav-end-->



	<section class="main-section" id="address">
		<!--main-section-start-->
		<div class="container">
			<h2>Welcome Address</h2>
			<h6>You're Welcome To The University Library.</h6>
			<div class="row">
				<div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
					<div class="service-list">
						<div class="service-list-col1">
								<i class="fa fa-microphone"></i>
						</div>
						<div class="service-list-col2">
							<div>
								<h2>Mission</h2>
								<p>To become a world-class and reference Resource Centre that will enhance teaching, learning and research that will promote raising a new generation of scholars.</p>
							</div>
							<div>
								<h2>Vision</h2>
								<p>To build, conserve and preserve diverse information resources to support teaching, learning and research. Also, to provide life-long learning skills to our users.</p>
								<p>The Library's aim is to provide good, aesthetic, user-friendly learning environment for all academic and research activities in the university.</p>
							</div>
						</div>
					</div>
				</div>
				<figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
					<img src="static/img/mrtony.png" alt="">
				</figure>

			</div>
		</div>
	</section>
	<!--main-section-end-->



	<section class="main-section alabaster" id="use">
		<!--main-section alabaster-start-->
		<div class="container">
			<div class="row">
				<h2>Library Use</h2>
				<P class="padding-b">The following are, but not limited to, the rules to use the University Library. All Library users (Staff and Students) are to adhere to these rules.</P>
				<h4><br></h4>
				<div class="col-lg-6 col-sm-6 wow fadeInLeft">
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-02s">
							<i class="fa fa-id-badge"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-02s">
							<h3>LIBRARY CARD</h3>
							<p>Always come with your Library Card. This is important to gain access to the Library Resources.</p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-04s">
							<i class="fa fa-volume-off"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-04s">
							<h3>SILENCE</h3>
							<p>Users should maintain perfect silence. Electronic devices should be turned off. Noise distracts other users.</p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-06s">
							<i class="fa fa-pencil"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-06s">
								<h3>LOG IN</h3>
							<p>Log In is required to keep track of users and resources</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-sm-6 featured-work">
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-02s">
							<i class="fa fa-id-badge"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-02s">
							<h3>LIBRARY CARD</h3>
							<p>Always come with your Library Card. This is important to gain access to the Library Resources.</p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-04s">
							<i class="fa fa-volume-off"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-04s">
							<h3>SILENCE</h3>
							<p>Users should maintain perfect silence. Electronic devices should be turned off. Noise distracts other users.</p>
						</div>
					</div>
					<div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-06s">
							<i class="fa fa-pencil"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-06s">
								<h3>LOG IN</h3>
							<p>Log In is required to keep track of users and resources</p>
						</div>
					</div>
					<a class="Learn-More" href="#">Learn More</a>
				</div>
			</div>
		</div>
	</section>
	<!--main-section alabaster-end-->



	<section class="main-section paddind" id="books">
		<!--main-section-start-->
		<div class="container">
			<h2>Library Books</h2>
			<h6>Recently Favourited Books.</h6>
			<div class="portfolioFilter">
				<ul class="Portfolio-nav wow fadeIn delay-02s">
					<li><a href="#" data-filter="*" class="current">All</a></li>
					<li><a href="#" data-filter=".branding">Science</a></li>
					<li><a href="#" data-filter=".webdesign">Literature</a></li>
					<li><a href="#" data-filter=".printdesign">Engineering</a></li>
					<li><a href="#" data-filter=".photography">Publishing</a></li>
				</ul>
			</div>

		</div>
		<div class="portfolioContainer wow fadeInUp delay-04s">
			<div class=" Portfolio-box photography">
				<a href="static/img/book-pic1.png"><img src="static/img/book-pic1.png" alt=""></a>
				<h3>F.A. Adesanoye et al.</h3>
				<p>Publishing</p>
			</div>
			<div class="Portfolio-box branding">
				<a href="static/img/book-pic2.png"><img src="static/img/book-pic2.png" alt=""></a>
				<h3>Timberlake Series</h3>
				<p>Chemistry</p>
			</div>
			<div class=" Portfolio-box branding printdesign">
				<a href="static/img/book-pic3.png"><img src="static/img/book-pic3.png" alt=""></a>
				<h3>S.A Savanandam et al</h3>
				<p>Computing</p>
			</div>
			<div class=" Portfolio-box branding printdesign">
				<a href="static/img/book-pic4.png"><img src="static/img/book-pic4.png" alt=""></a>
				<h3>K.A. Stroud</h3>
				<p>Mathematics</p>
			</div>
			<div class=" Portfolio-box webdesign">
				<a href="static/img/book-pic5.png"><img src="static/img/book-pic5.png" alt=""></a>
				<h3>Chinua Achebe</h3>
				<p>Literature</p>
			</div>
			<div class=" Portfolio-box webdesign">
				<a href="static/img/book-pic6.png"><img src="static/img/book-pic6.png" alt=""></a>
				<h3>Camara Laye</h3>
				<p>Literature</p>
			</div>
		</div>
	</section>
	<!--main-section-end-->


	<section class="main-section client-part" id="journals">
	<div class="container">
		<b class="quote-right wow fadeInDown delay-03"><i class="fa fa-quote-right"></i></b>
		<div class="col-lg-12">
			<p class="client-part-haead wow fadeInDown delay-05">Available Journals in Sciences, Engineering, Arts and Languages!</p>
		</div>
		<div class="row journal">
			<ul>
				<li><a href="#"><img src="static/img/journal2.png" alt=""></a></li>
				<li><a href="#"><img src="static/img/journal2.png" alt=""></a></li>
				<li><a href="#"><img src="static/img/journal2.png" alt=""></a></li>
				<li><a href="#"><img src="static/img/journal2.png" alt=""></a></li>
				<li><a href="#"><img src="static/img/journal2.png" alt=""></a></li>
			</ul>
		</div>
	</div>
	</section>

	<section class="main-section team" id="opens">
		<!--main-section team-start-->
		<div class="container">
			<h2>Open Source</h2>
			<h6>University Library's Open Source Links</h6> 
			<div class="open-source">
				<div class="row">
					<ul>
						<li><a href="#"><img src="static/img/c-liogo1.png" alt=""></a></li>
						<li><a href="#"><img src="static/img/c-liogo2.png" alt=""></a></li>
						<li><a href="#"><img src="static/img/c-liogo3.png" alt=""></a></li>
						<li><a href="#"><img src="static/img/c-liogo4.png" alt=""></a></li>
						<li><a href="#"><img src="static/img/c-liogo5.png" alt=""></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<div class="container">
		<section class="main-section contact" id="borrow">
			<div class="row">
				<div class="col-lg-6 col-sm-7 wow fadeInLeft">
					<h3>You Want More Information? Register To Use The Library.</h3>
					<div class="contact-info-box address clearfix">
						<h3><i class=" icon-map-marker"></i>Address:</h3>
						<span>Rooms 21 & 22, First Floor,<br>Admin Block, KDU-I</span>
					</div>
					<div class="contact-info-box phone clearfix">
						<h3><i class="fa fa-phone"></i>Phone:</h3>
						<span>+234(0)81-UNI-LIBRARY</span>
					</div>
					<div class="contact-info-box email clearfix">
						<h3><i class="fa fa-pencil"></i>email:</h3>
						<span>library@kuilibrary.com</span>
					</div>
					<div class="contact-info-box hours clearfix">
						<h3><i class="fa fa-clock-o"></i>Hours:</h3>
						<span><strong>Monday - Friday:</strong> 09am - 4:30pm</span>
					</div>
				</div>
				<div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
					<div class="form">
						<div class="row text-center"><h3>Already Registered? <a href="#">Log In</a></h3></div>
						<div id="sendmessage">Your message has been sent. Thank you!</div>
						<div id="errormessage"></div>
						<form action="" method="post" role="form" class="registerForm">
							<div class="form-group">
								<input type="text" name="name" class="form-control input-text" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
								<div class="validation"></div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control input-text" name="userid" id="userid" placeholder="Matric Number/Staff Id" data-rule="minlen:6" data-msg="Please enter at least 6 characters" />
								<div class="validation"></div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control input-text" name="phone" id="phone" placeholder="Your Phone Number" data-rule="minlen:11" data-msg="Please enter a valid Phone Number" />
								<div class="validation"></div>
							</div>
							<div class="form-group">
								<input type="email" class="form-control input-text" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
								<div class="validation"></div>
							</div>
							<div>
								<datalist id="department">
									{% for dept in allDepts %}
									<option value="{{dept.dept_name}}">
									{% endfor %}
								</datalist>
								<input type="text" list="department" class="form-control input-text" name="ldepartment" id="ldepartment" placeholder="Department"
									required>
							</div>
							<div class="text-center"><button type="submit" class="input-btn">Register</button></div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>


	<footer class="footer">
		<div class="container">
			<div class="footer-logo"><a href="#"><img src="static/img/kdulogo1.png" alt=""></a></div>
			<span class="copyright">&copy; KDU-I Library. All Rights Reserved</span>
			<div class="credits">
			</div>
		</div>
	</footer>


	<script type="text/javascript">
		$(document).ready(function(e) {

			$('#test').scrollToFixed();
			$('.res-nav_click').click(function() {
				$('.main-nav').slideToggle();
				return false

			});

      $('.Portfolio-box').magnificPopup({
        delegate: 'a',
        type: 'image'
      });

		});
	</script>

	<script>
		wow = new WOW({
			animateClass: 'animated',
			offset: 100
		});
		wow.init();
	</script>


	<script type="text/javascript">
		$(window).load(function() {

			$('.main-nav li a, .servicelink').bind('click', function(event) {
				var $anchor = $(this);

				$('html, body').stop().animate({
					scrollTop: $($anchor.attr('href')).offset().top - 102
				}, 1500, 'easeInOutExpo');
				/*
				if you don't want to use the easing effects:
				$('html, body').stop().animate({
					scrollTop: $($anchor.attr('href')).offset().top
				}, 1000);
				*/
				if ($(window).width() < 768) {
					$('.main-nav').hide();
				}
				event.preventDefault();
			});
		})
	</script>

	<script type="text/javascript">
		$(window).load(function() {


			var $container = $('.portfolioContainer'),
				$body = $('body'),
				colW = 375,
				columns = null;


			$container.isotope({
				// disable window resizing
				resizable: true,
				masonry: {
					columnWidth: colW
				}
			});

			$(window).smartresize(function() {
				// check if columns has changed
				var currentColumns = Math.floor(($body.width() - 30) / colW);
				if (currentColumns !== columns) {
					// set new column count
					columns = currentColumns;
					// apply width to container manually, then trigger relayout
					$container.width(columns * colW)
						.isotope('reLayout');
				}

			}).smartresize(); // trigger resize to set container width
			$('.portfolioFilter a').click(function() {
				$('.portfolioFilter .current').removeClass('current');
				$(this).addClass('current');

				var selector = $(this).attr('data-filter');
				$container.isotope({

					filter: selector,
				});
				return false;
			});

		});
	</script>

</body>

</html>
