{% extends 'layout-admin.html' %}
{% block title %}
<title> ADMIN - KDU-I Library </title>
{% endblock %}
{% block body %}
<section class="main-section" id="books">
    <div class="container">
        <h2>PERIODICALS</h2>
        {% if current_user.admin %}
        <h6>ADD NEW PERIODICALS</h6>
        <div class="row">
            <form action="/periodicals" method="post" role="form" class="registerForm">
                <div class="col-lg-5 col-md-5 col-sm-5 wow fadeInLeft delay-05s">
                    <div class="service-list">
                        <div class="service-list-col1">
                                <i class="fa fa-pen"></i>
                        </div>
                        <div class="service-list-col2">
                            <div>
                                <datalist id="newspaper">
                                    <option value="The Guardian"></option>
                                    <option value="The Punch"></option>
                                    <option value="Nigerian Tribune"></option>
                                </datalist>
                                <input type="text" list="newspaper" class="form-control input-text" name="newsname" id="newsname" placeholder="Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars"
                                    required>
                                    <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <label for="notes">Headlines:</label>
                                <textarea name="headlines" class="form-control input-text" id="headlines" placeholder="Headlines" rows="5"></textarea>
                                <div class="validation"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-offset-2 col-lg-5 col-md-offset-2 col-md-5 col-sm-offset-2 wow fadeinUp delay-05s">
                    <div class="service-list">
                        <div class="service-list-col1">
                                <i class="fa fa-pen"></i>
                        </div>
                        <div class="service-list-col2">
                            <div >
                                <div class="col-md-4 col-lg-4 col-sm-4">
                                    <datalist id="lday">
                                        {% for i in range(1,32) %}
                                        <option value="{{i}}"></option>
                                        {% endfor %}
                                    </datalist>
                                    <input type="text" list="lday" class="form-control input-text" name="day" id="day" placeholder="DD" data-rule="minlen:1" data-msg="Invalid Day of the Month"
                                        required>
                                        <div class="validation"></div>
                                </div>
                                <div class="col-md-4 col-lg-4 col-sm-4">
                                    <datalist id="lmonth">
                                        {% for i in lMonth %}
                                        <option value="{{i}}"></option>
                                        {% endfor %}
                                    </datalist>
                                    <input type="text" list="lmonth" class="form-control input-text" name="month" id="month" placeholder="MMM" data-rule="minlen:2" data-msg="Invalid Month of the Year"
                                        required>
                                        <div class="validation"></div>
                                </div>
                                <div class="col-md-4 col-lg-4 col-sm-4">
                                    <datalist id="lyear">
                                        {% for i in range(2014,2041) %}
                                        <option value="{{i}}"></option>
                                        {% endfor %}
                                    </datalist>
                                    <input type="text" list="lyear" class="form-control input-text" name="year" id="year" placeholder="YYYY" data-rule="minlen:4" data-msg="Invalid Year"
                                        required>
                                        <div class="validation"></div>
                                </div>

                            </div>
                            <input style="margin-top: 20%;" type="submit" name="submit" id="submit" value="Add Periodical" class="btn wow tada btn-embossed input-btn btn-primary pull-right">
                            
                        </div>
                    </div>
                </div>         
            </form>
        </div>
        {% endif %}
    <hr>
        <h6>VIEW {% if current_user.admin %} AND UPDATE {% endif %} PERIODICALS </h6>
        <div class="row">
            <ul class="list-group">
                {% for p in allPeriodicals %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-lg-4">
                            <label><a href="/periodicals/{{p.id}}">{{p.periodical_name}}</a></label>                        
                        </div>
                        <div class="col-md-4 col-sm-4 col-lg-4">
                            <label>{{p.periodical_day + ' ' + p.periodical_month + ', ' + p.periodical_year}}</label>                        
                        </div>
                        {% if current_user.admin %}
                        <div class="col-md-2 col-sm-2 col-lg-2">
                            <label><a href="/periodicals/{{p.id}}">Edit</a></label>                        
                        </div>
                        <div class="col-md-2 col-sm-2 col-lg-2">
                            <label><a data-toggle="modal" data-target="#confirmDelete">Delete</a></label>                         
                        </div>
                    </div>
                    <div class="modal fade" id="confirmDelete" role="dialog">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-body">
                              <h3 class="text text-danger">Delete Periodical?</h3>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
                              <a href="delete/{{p.id}}" class="btn btn-danger">Yes</a>
                            </div>
                          </div>                      
                        </div>
                    </div>   
                    {% else %}
                    <div class="col-md-2 col-sm-2 col-lg-2">
                        <label><a href="/viewperiodicals/{{p.id}}">View</a></label>                        
                    </div>
                    {% endif %}             
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}