{% extends 'layout-rules.html' %}
{% block title %}
<title> RULES - KDU-I Library </title>
{% endblock %}

{% block body %}
<div class="container">
    <section class="main-section">
        <h2 class="text text-center"><b>General Library Rules and Regulations</b></h2>
        <div>
            <p><a href="/">&lt;-- BACK</a></p>
        </div>
        <div class="row">
            <br>
        <ul class="list-group">
            <li class="list-group-item">Registration should be done to become a Library member prior to using the Library resources.</li>
            <li class="list-group-item">Members must show their Library cards on entering the Library, when borrowing books, and at other times if asked to do so by the Porter, Security personnel or any member of the senior staff of the University Library.</li>
            <li class="list-group-item">Complete silence should be observed except for brief and subdued talk with the Library staff.</li>
            <li class="list-group-item">No discussion is permitted inside the Library.</li>
            <li class="list-group-item">All books borrowed from the University Library should be returned before the reader goes on vacation.</li>
            <li class="list-group-item">The use of Mobile phones or other audio instruments is strictly prohibited in the Library premises unless it is put in vibration or silent mode.</li>
            <li class="list-group-item">The Librarian may recall any book from any User at any time and the Users shall return same immediately.</li>
            <li class="list-group-item">Library borrower cards are not transferable. The borrower is responsible for the books borrowed on his/her card.</li>
            <li class="list-group-item">Refreshment of any kind shall not be allowed in the Library premises.</li>
            <li class="list-group-item"> Possession of dangerous materials such as knife, gun, razor blade, hammer, etc. or any other weapons are not allowed in and around the Library.</li>
            <li class="list-group-item"> No smoking in or around the Library.</li>
            <li class="list-group-item"> The use of any form of candles, matches, hurricane lanterns and chemicals is prohibited in the Library.</li>
            <li class="list-group-item"> No reader will be allowed to enter any part of the Library marked ‘Private’ or Reserved for staff unless by permission.</li>
            <li class="list-group-item"> All forms of dressing prohibited by the University Authorities are not allowed in the University Library.</li>
            <li class="list-group-item"> After reading, books must be left on the table or on the book trolley. Readers should not shelve books.</li>
            <li class="list-group-item"> Appropriate phone number must be provided while filling Library membership form.</li>
            <li class="list-group-item"> It is forbidden to write on, underline or mark any book. Library books would be carefully examined on return and the borrower will be held responsible for any damage. </li>
            <li class="list-group-item"> Personal belongings such as handbags, briefcases, etc., must be left in the cloak area, on user’s responsibility. The Library disclaims any liability for loss or damage.</li>
            <li class="list-group-item"> Library staff would offer assistance to find required material.</li>
            <li class="list-group-item"> Consumption of alcohol or illegal drugs is not allowed in and around the Library.</li>
            <li class="list-group-item"> No seats must be reserved by placing materials on the chairs. Any book or personal belongings left unattended on unoccupied tables may be removed by Library staff without prior notice to the owner.</li>
            <li class="list-group-item"> Photocopying of Library materials should be made in compliance with the Copyright Ordinance. Library users are fully responsible for any legal consequences arising from infringement of copyright laws.</li>
            <li class="list-group-item"> Readers must show all books in their possession to the porter and subject themselves to body search at the exit to ensure that all Library books have been properly issued and no material is illegally removed from the Library. The Library reserves the right to embark on checking of hostels any time it deems fit to recover Library materials illegally removed from the Library.</li>
            <li class="list-group-item"> The University Librarian may suspend or withdraw all user privileges from any person who contravenes listed regulations, and may report any offender to the University management.</li>
        </ul>
        </div>
    </section>
</div>
{% endblock %}